alembic==1.13.1 
annotated-types==0.6.0 
anyio==3.7.1 
asyncpg==0.29.0 
bcrypt==4.0.1 
certifi==2024.2.2 
cffi==1.16.0 
charset-normalizer==3.3.2 
click==8.1.7 
colorama==0.4.6 
cryptography==42.0.5 
dnspython==2.6.1 
email-validator==2.1.1 
fastapi==0.104.1 
greenlet==3.0.3 
gunicorn==22.0.0 
h11==0.14.0 
httptools==0.6.1 
idna==3.7 
jinja2==3.1.3 
mako==1.3.3 
markupsafe==2.1.5 
numpy==1.26.4 
packaging==24.0 
passlib==1.7.4 
pycparser==2.22 
pydantic-core==2.18.2 
pydantic-settings==2.2.1 
pydantic==2.7.1 
pydantic[dotenv,email]==2.7.1 
pyjwt[crypto]==2.8.0 
pypayment==1.7.14 
python-dateutil==2.9.0.post0 
python-dotenv==1.0.1 
python-multipart==0.0.6 
pytz==2024.1 
pyyaml==6.0.1 
requests==2.31.0 
six==1.16.0 
sniffio==1.3.1 
sqlalchemy==2.0.29 
starlette==0.27.0 
typing-extensions==4.11.0 
tzdata==2024.1 
urllib3==2.2.1 
uvicorn[standard]==0.24.0.post1 
uvloop==0.19.0 
watchfiles==0.21.0 
websockets==12.0 
