{% extends "dark.html" %}

{% block title %}
Blood Market BA Estimation Test
{% endblock %}

{% block header %} Free biological age tests for the people!{% endblock %}

{% block content %}
<div class="prose prose-lg max-w-none">
    <p>Welcome to our platform where you can test your biological age using the Blood Market BA Estimation Test. Our service allows you to gain insights into your health and longevity through detailed analysis and comparison with scientific standards.</p>

<div class="mt-8" id="test-selection">
    <h3 class="text-2xl font-semibold mb-4">Blood Market BA Estimation Test</h3>
    <div>
        <form hx-post="/tests/blood-marker-ba-estimation" hx-target="#result" hx-ext="json-enc" hx-swap="innerHTML">
{% for field_name, field_type in model_fields.items() %}
        <label for="{{ field_name }}">{{ field_name }}</label>
        <input type="{{ get_input_type(field_type["annotation"]) }}" name="{{ field_name }}" id="{{ field_name }}" required>
    {% endfor %}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Submit
            </button>
        </form>
        <div id="result" class="mt-4"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
