<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/htmx.js"></script>
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body class="bg-emerald-950 text-white">
    <div class="container mx-auto px-4 py-8">
        <header class="mb-8">
            <h1 class="text-4xl font-bold mb-4">{% block header %}{% endblock %}</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="mt-8">
            {% block footer %}
                <p>&copy; {{ current_year }} Your Company Name. All rights reserved.</p>
            {% endblock %}
        </footer>
    </div>
    {% block scripts %}{% endblock %}
</body>

</html>
